{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": "./**/tsconfig.json"
      }
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    // prettier to should the last to override some other configs
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["import", "@typescript-eslint"],
  "rules": {
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "import/extensions": ["error", "never"],
    "no-console": "warn"
  }
}
