:root {
  --vt-black: rgb(0, 0, 0);
  --vt-white: rgb(255, 255, 255);

  --vt-blue: rgb(0, 189, 250);
  --vt-cyan: rgb(0, 255, 250);
  --vt-rose: rgb(255, 27, 120);
  --vt-turquoise: rgb(13, 253, 189);
  --vt-yellow: rgb(255, 240, 17);
}

.vt-typo-main-title,
.vt-typo-headline {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.2;
}

.vt-typo-sub-title,
.vt-typo-sub-headline {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
}

.vt-typo-paragraph {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  font-family: 400;
  font-size: 1rem;
  line-height: 1.5;
}
